<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="mb-4">Bem-vindo ao sistema de gerenciamento da loja de eletrônicos</h1>
        <div class="text-center">
            <img src="https://i.ytimg.com/vi/CMFYQDHLEXs/hq2.jpg?sqp=-oaymwEoCOADEOgC8quKqQMcGADwAQH4Ad4DgALgA4oCDAgAEAEYZSBXKEUwDw==&rs=AOn4CLChDhPZNdXXG8UAUEWALa2VI0Dzpw" alt="Controle de Estoque" class="img-fluid" style="max-width: 600px;">
        </div>
        <div class="d-grid gap-3 col-6 mx-auto">
            <!-- Botão para redirecionar para /produtos -->
            <a href="/produtos" class="btn btn-primary btn-lg" style="margin-top: 10px">Acessar o sistema</a>
        </div>
    </div>
    <!-- Bootstrap JS e dependências -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
